@font-face {
    font-family: 'k2d_semiboldregular';
    src: url('k2d-webfont.woff2') format('woff2'),
         url('k2d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'k2d_semiboldregular', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    
    
}


/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}


.button_1{
    height: 38px;
    background: #0099ff;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    cursor: pointer;
}

 a{
    color: #ffffff;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 16px;
}

#search{
    text-align: center;
    margin: 5%;
}

#search input[type="text"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}


/* Header */
header{
    /* background: #35424a; */
    background: linear-gradient(89deg, #1c588a 40%, rgb(11, 189, 55) 100%);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0099ff 3px solid;

}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    /* float: left; */
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #0099ff;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}


/* Showcase */
#showcase{
    min-width: 400px;
    background: url('../img/background.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* Newsletter */
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35324a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* TopCards */
#topcards{
    margin: 20px 0 20px 0;
    /* display: flex;
    justify-content: space-around; */
}

.topcardsbox{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

.c1{
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%) !important; 
}

.c2{
    background: linear-gradient(89deg, #ff1a1a 0%, #ff751a 100%) !important;
}

.c3{
        background: linear-gradient(89deg, #4d4dff 0%, #80bfff 100%) !important;
}
/* Boxes */
#boxes{
    margin-top: 20px;
    /* display: flex;
    justify-content: space-around; */
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    margin: 5px;
    
}

#boxes .box img{
    width: 90px;
    
}

.card{
    background: white;
    height: 50%;
    width: 300px;
    padding: 5%;
    /* margin: 5%; */
    transition: 0.9s;
    -webkit-box-shadow: -2px 0px 12px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 12px 2px rgba(0,0,0,0.75);
box-shadow: -2px 0px 12px 2px rgba(0,0,0,0.75);
    /* -webkit-box-shadow: -1px 1px 23px 10px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 23px 10px rgba(0,0,0,0.75);
box-shadow: -1px 1px 23px 10px rgba(0,0,0,0.75); */
    box-sizing: border-box;
}

#footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    /* background: #0099ff; */
    background: linear-gradient(89deg, #1c588a 40%, rgb(11, 189, 55) 100%);
    text-align: center;
}


/* Login Page */
#loginbody{
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100%;
}

/* Styling For Login Page */
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff; 
    font-size: 16px;  
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0099ff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #99ebff;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover{
    color: #99ebff;
}
/* End Of Stying For Login Page */


/* Styling For Sales View Page */
#viewsales{
    margin: 3rem 0;
}
table {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid gray;
    min-width: 150px;
    height: 40px;
    margin: auto;
    padding: 0.8rem;
}
tr > td:nth-child(6){
    min-width:220px;
}
tr > td:nth-child(6) span{
display:inline-flex;
justify-content: center;
background-color:#120103;
width:85px;
color:#fff;
padding:1em;
border-radius:30px;
}
/* End Of Styling For Sales View Page */

/* Styling For Attendant Admin View Products Page */
#product_details_image{
    width: 30%;
}

#product_details_image img{
    width: 100%;
    height: 300px;
    float: left;
    margin-top: 5%;
    padding: 5%;
}

#product_details{
    width: 50% !important;
    float: right;
    margin-top: 5%;
    padding: 5%;
}
/* End Of Styling For Attendant Admin View Products Page */


/* Styling For Admin Create Sales Attendant Page */


#create_sales_assistant{
    width: 80%;
    text-align: center;
    margin-top: 5%;
    padding: 5%;
}

#create_sales_assistant p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#create_sales_assistant h1{
    text-transform: uppercase;
    margin-bottom: 2%;
}

#create_sales_assistant input{
    width: 100%;
    margin-bottom: 20px;
}

#create_sales_assistant input[type="text"], input[type="password"], input[type="email"]{
    border: none;
    border-bottom: 1px solid #0099ff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000; 
    font-size: 16px;  
}

#create_sales_assistant input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0099ff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

#create_sales_assistant input[type="submit"]:hover{
    cursor: pointer;
    background: #99ebff;
    color: #000;
}


/* End Of Styling For Admin Create Sales Attendant Page */



/* Media Queries */
@media(max-width: 1200px){
    #boxes{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    
    #boxes .box{
        /* float: left; */
        width: 20%;
        padding: 5%;
        margin: 0 5% 0 5%;
        text-align: center;
        
    }
    
    #boxes .box img{
        width: 90px;
        
    }
    
    .card{
        background: white;
        height: 50%;
        width: 300px;
        padding: 5%;
        /* margin: 5%; */
        -webkit-box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        box-sizing: border-box;
    }
    
}

@media(max-width: 1160px){
    
.topcardsbox{
    /* float: left; */
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.c1{
    width: 600px !important;
}

.c2{
    width: 600px !important;
}

.c3{
    width: 600px !important;
}
}

@media(max-width: 1005px){
    .c1{
        width: 400px !important;
    }
    
    .c2{
        width: 400px !important;
    }
    
    .c3{
        width: 400px !important;
    }

    #boxes .box{
        float: none;
        text-align: center;
        width: 80%;
        
        display: flex;
        justify-content: center;
    }

    .card{
        background: white;
        height: 50%;
        width: 400px;
        padding: 3%;
        /* margin: 5%; */
        
        -webkit-box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        box-sizing: border-box;
    }
}

@media(max-width: 768px){
    header #branding, header nav, header nav li
    #newsletter h1, #newsletter form,
    #boxes .box{
        float: none;
        text-align: center;
        /* width: 100%; */
    }

    header{
        padding-bottom: 20px;
    }

    header a{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
    }
    #showcase h1{
        margin-top: 40px;

    }

    #newsletter button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }


}

@media(max-width: 480px){
    .card{
        background: white;
        height: 50%;
        width: 70%;
        padding: 3%;
        /* margin: 5%; */
        
        -webkit-box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        box-shadow: -1px 1px 23px 6px rgba(0,0,0,0.75);
        box-sizing: border-box;
    }
}